<!DOCTYPE html>
<html lang="RU">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="images/css/styles.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
	<title>Calc</title>
</head>
<body>
	<div class="wrapper">
		<div id="app">
			<div class="block-1">
				<p>Color : {{ stylesCSS }}</p>
				<input type="text" v-on:input="stylesCSS = $event.target.value" placeholder="blue or grey">
			</div>
			<div :class="stylesCSS" class="block-2" id="block-2">
				<div class="title">Калькулятор</div>
				<input class="input" @keyup.enter="answer()" type="text" v-model="result" placeholder="0">
				<div class="btn_wrap">
					<button class="btn" @click="input(number)" v-for="number in numbers">{{number}}</button>
					<button class="btn" @click="input(operator)" v-for="operator in operations">{{operator}}</button>
					<button class="btn reset" @click="reset()">C</button>
					<button class="btn answer" @click="answer()">=</button>
				</div>
			</div>
		</div>
	</div>

	
	<script src="images/js/main.js"></script>
</body>
</html>